<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel='stylesheet' href='/style.css'/>
</head>
<body>
  <nav>
    <ul>
      <li class="button1"> <a href="/pizzas">Pizza Orders</a> </li>
      <li class="button1"> <a href="/pizzas/new">New Order</a> </li>
    </ul>
  </nav>

  <%= yield %>
</body>
</html>